log/*
.idea/
proto3/*.go
/vendor/
/bin/
/pkg/
proto3/pri/protoc.exe
proto3/pri/protoc-gen-go.exe
test/test.go
test/*exe
test/*exe~
*.exe
.vscode
nohup.out
ninja_game
ninja_game.exe
script/main

/heap.out
