[server] # 服务器
address		= :443
httpaddr    = :8090
serverno	= 1
sign_key    = huang@feng@wu!2020 # 加密的附加key
net_type	= websocket		# 支持tcp和websocket

[mysql]	# 数据库
address     = 10.66.213.171:3306
username    = root
password    = ninjagame$%@!1
database    = ninja_game

[redis] # redis,
#一个机子可以开多个不同的redis端口服：1.先创建一份新的redis配置cof，修改端口port 6379 和 dbfilename dump.rdb（sudo vi +182 /etc/redis/redis.conf）
# 2.启动该端口服sudo redis-server /etc/redis/6378.conf		redis-cli -p 6378
address		= 127.0.0.1:6379
password	= huang@feng@wu$
db			= 0
poolsize 	= 1000

[kafka]		# kafka
address		= 127.0.0.1:9092	# 10.0.1.11:9092
game_2_battle = game_2_battle
battle_2_game = battle_2_game
consume_num	= 10	# 消费者数量

[logger] # 日志(1-fatal,2-error,3-warn,4-info,5-debug)
level		= 4

[sdk] #sdk kind:u8,quicksdk
verify      = 1		# 是否打开sdk验证(1为打开, 0为关闭)
sdk_kind    = quicksdk

[quicksdk]
verify_url   = http://qkapislg.acingame.com/webapi/checkUserInfo
product_code = 92160121956739528321623175073702

[u8sdk] #sdk
app_id      = 7
app_key     = a4cd8a93290df51740941afcb338cf2c
appsecret	= 2f5887cb2bbac8c4931f9eca4d4795fd
verify_url  = http://hwzsdk.acingame.com/user/verifyAccount
order_url   = http://hwzsdk.acingame.com/pay/getOrderID

[wx]
app_id      = wx78cc9af1916dba63
app_secret	= 0853ee94eb331588c050278cc4c9267f
verify_url  = https://api.weixin.qq.com/sns/jscode2session?appid=%s&secret=%s&js_code=%s&grant_type=authorization_code

[qq]
app_id      = 1111333293
app_secret	= SgoZVAZ7O70TONqV
verify_url  = https://api.q.qq.com/sns/jscode2session?appid=%s&secret=%s&js_code=%s&grant_type=authorization_code

[opposdk]
apkname         = com.dl.zhdxjj.kyx.nearme.gamecenter
app_id          = 30434253
app_key	        = ExCch8wO7A8k0s4g4s8k0GgSw
app_secret      = c6D2c739CCD79cFb1A6e6977Cddc1214
verify_url      = https://play.open.oppomobile.com/instant-game-open/userInfo
game_start_url  = http://play.open.oppomobile.com/instant-battle/gameapi/gameStart
game_end_url    = /instant-battle/gameapi//settlement/manytomany/teamrandom

[statistics]
start		= 1		# 统计log上传(1为打开, 0为关闭)
url 		= https://slgtk.acingame.com/sync_data
app_id      = 059d5385aea34735a6d71e0ce080a7d7

[bigworld]
land_num	= 1000000 # 100w地块数量
line_no		= 500	# 大地图开的协程数目
delay_cache = 0     # 是否延迟缓存地块(1为是, 0为否) 1没有预先插入数据可能导致并发问题

[goroutine]
user_db_line = 10   # 玩家数据库协程数目
ally_db_line = 1    # 同盟数据库协程数目
common_db_line = 1  # 通用数据库协程数目

[order] # 白名单
open_GM     = 0     # 是否打开gm命令(1为打开, 0为关闭)
open_white  = 0     # 是否打开白名单(1为打开, 0为关闭)
open_dark 	= 0		# 是否打开永夜系统(1为打开, 0为关闭)
open_country = 0	# 是否打开国内屏蔽(1为打开, 0为关闭)

[firebase]
credentials_file = ../config/service_account.json

[facebook] # gin server
start		= 1		# 1为打开, 0为关闭
address		= :10106

[charge] # gin server
start		= 1		# 1为打开, 0为关闭
address		= :10206

[logic]
binging_award   = 1 # 老玩家绑定奖励，付费删档使用
recharge_rebate = 1 # 老玩家绑充值双倍返回奖励，付费删档使用

[room]
room_max_num = 10000 # 最大房间数量
game_length_time = 1800 # 最长游戏时间 秒

[bench]
room_warn_num = 800 # 最大房间警告
mem_warn_num = 27 # G
mem_cpu_num = 100 # cpu %

[http]
http_type = https

[switch]
switch_game_wait = 0 # 候场开关 0-关闭，1-启动
switch_role_wolf = 1 # AI狼人身份 0-不允许， 1-允许
